/*
 * Colors flag[
 * 		Fern Green (0,146,70)
 * 		Bright White (241,242,241)
 * 		Flame Scarlet (206,43,55)
 * */

:root{
	--greenFern: rgb(0, 146, 70);
	--whiteBright: rgb(241, 242, 241);
	--redFlameScarlet: rgb(206, 43, 55);
}

@font-face {
    font-family: 'Facebook Letter Faces';
    src: url('../fonts/FacebookLetterFaces.eot');
    src: url('../fonts/FacebookLetterFaces.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FacebookLetterFaces.woff2') format('woff2'),
        url('../fonts/FacebookLetterFaces.woff') format('woff'),
        url('../fonts/FacebookLetterFaces.svg#FacebookLetterFaces') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Allura';
    src: url('../fonts/Allura-Regular.woff2') format('woff2'),
        url('../fonts/Allura-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	font-family: 'Facebook Letter Faces';
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 50px;
	font-weight: 100;
}

a{
	color: var(--greenFern);
	text-decoration: none;
}

a:hover{
	opacity: 0.6;
}

input{
	width: auto;
}

body{
	color: var(--greenFern);
	padding: 0;
	margin: 0;
	background-image: url("../imgs/Flag_of_Italy.png");
	background-size: 100% 100%;
}

aside, article{
	border: thin ridge var(--greenFern);
	padding: 0px 15px 30px 15px;
	margin: 30px 0px 30px 0px;
}

section{
	display: block;
	padding: 50px 20px 300px 20px;
	width: calc( 80% - 40px );
	margin: 0 auto 0;
	background-color: var(--whiteBright);
	word-wrap: break-word;
}

footer{
	position: fixed;
	width: 72.7%;
	bottom: 0;
	left: 13.3%;
	padding: 20px 20px 10px 0px;
	background: linear-gradient(to top, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0));
}

footer ul{
	margin: 0;
	padding: 0;
}

footer ul li{
	display: inline;
	text-align: left;
	margin: 0;
	padding: 0;
}

#index *{
	text-transform: capitalize;
}

#index li{
	margin-bottom: 10px;
}

.mail{
	font-family: 'Allura';
	font-size: 2em;
	color: #2f2222;
	padding: 50px;
	background-image: url(../imgs/paper.png);
	background-size: 100% 100%;
}

.myphoto{
	min-width: 50px;
	max-width: 70px;
}

.player{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url('../imgs/audio.png');
	background-repeat: no-repeat;
}

.flagItaly{
	text-align: center;
	font-size: 1.5em;
}

.flagItaly img{
	max-width: 50%;
	box-shadow: 10px 10px 10px #c9c;
}

.scrollTop{
	position: fixed;
	right: 6%;
	top: 25px;
	background-image: url("../imgs/indice.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000 inset;
	transform: rotate(15deg);
	height: 50px;
	width: 100px;
	max-width: 35%;
}

.translate{
	width: 15%;
	height: 50px;
	text-align: left;
	padding: 10px;
	color: var(--redFlameScarlet);
	overflow-y: auto;
	overflow: hidden;
	background-image: url(../imgs/Translate_of_Italy_to_Brazil.svg.png);
	background-repeat: no-repeat;
	background-size: auto 50px;
	background-position: top left;
}

.translate:hover{
	cursor: pointer;
}

.translate p:first-child{
	margin-top: 50px;
}

.translateClick{
	border: thin ridge var(--greenFern);
	width: auto;
	height: auto;
	background-image: url(../imgs/Translate_of_Brazil_to_Italy.svg.png);
	background-position: top right;
}